
<Router AppAssembly="@typeof(App).Assembly"
        AdditionalAssemblies="new[] {typeof(U3A.UI.Forms.About).Assembly,
                                            typeof(U3A.UI.Reports.About).Assembly}">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(PublicMainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(PublicMainLayout)">
            <p class="alert alert-warning">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
}
