@namespace U3A.UI.Forms
@inherits LayoutComponentBase


<div class="page vh-100" >
    <link href="_content/DevExpress.Blazor.Themes/Blazing-berry.bs5.min.css" rel="stylesheet" />
    @Body
</div>
@code {

}
