@page "/DemoWWW"

@layout BasicLayout

<div class="jumbotron d-block justify-content-center align-items-center">
    <div class="pt-4" align="center">
        <h3>U3ADMIN.ORG.AU</h3>
    </div>
</div>

<div class="align-text-center pt-4" align="center">
    <h3>Live, Laugh, Learn without the hassle</h3>

    <p>Yep, you guessed it - this site is under construction.</p>
</div>

<style>
    .jumbotron {
        background-image: url("images/UnderConstruction.jpeg");
        background-size: contain;
        height: 33vh;
    }
</style>

@code {

}
