@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password. The email might be located in ...
    <ol>
        <li>Your Inbox, Focused or Other</li>
        <li>Your Junk Email</li>
    </ol>
</p>
<p>
    If the email is found in your Junk Email, right-click and mark it as Not Junk. You should then be able to click it's link.
</p>
